
a:hover{
  text-decoration:none;
  color:#a31f37;
}

.a-nostyle a{
  color:#ababab;
}

.a-nostyle a:hover{
  text-decoration:none;
  color:#ababab;
}

.footer-title{
  color: #a31f34;
  font-size: 14pt;
  font-weight: 600;
}

#rating_bar {
  width: 100px;
  height: 100px;
  display: inline-block;
  display: inline;
  direction: rtl;
}

#rating_bar a span{
  color: #a31f34;
  cursor: pointer;
  font-size: 1.2rem;
}

.ratingStar{
  font-weight: inherit;
}

.fillStar{
  font-weight: var(--fa-style,900);
}

#rating_bar a:hover,
#rating_bar a:hover~a{
  font-weight: var(--fa-style,900);
}

.img-div{
  max-width:100%;
  height:auto;
}

.wd-20{
  flex: 0 0 20%;
  width:20%;
  position: relative;
  width: 100%;
  padding-right: .75rem;
  padding-left: .75rem;
}

.image-container{
  width:100%;
  background-color:white;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
  }
  
  /*when hovering an item:*/
  .autocomplete-items div:hover {
    background-color: #e9e9e9; 
  }
  
  /*when navigating through the items using the arrow keys:*/
  .autocomplete-active {
    background-color: DodgerBlue !important; 
    color: #ffffff; 
  }

  .loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #a31f37;
    display:flex;
    justify-content: center;
    z-index: 9999;
  }
  .loader {
    display: inline-block;
    margin-top: 50vh;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
  }
  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
  }
  @keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
  }
  @keyframes loader-inner {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
  }

  @-webkit-keyframes fadeOut {
    0% {opacity: 1;}
    75% {opacity: 1;}
    100% {opacity: 0;}
 }

  @keyframes fadeOut {
    0% {opacity: 1;}
    75% {opacity: 1;}
    100% {opacity: 0;} 
 }

 .form-select {
  display: block;
  width: 100%;
  padding: 0.05rem 0.5rem;
  -moz-padding-start: calc(0.75rem - 3px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right .75rem center;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
select {
  word-wrap: normal;
}
button, select {
  text-transform: none;
}
button, input, optgroup, select, textarea {
  margin: 0;
    margin-bottom: 0px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
  
#mainContainer{
  width:100%;
}

@media only screen and (min-width: 600px) {
  #mainContainer{
    width:80%;
  }
}

.tox.tox-tinymce {
  width: 100%;
}
