#mainContainer{
    width:100%;
  }
  
@media only screen and (min-width: 600px) {
  #mainContainer{
    width:80%;
  }
}

.tox.tox-tinymce {
    width: 100%;
}

.tox-menubar {
  display: none !important;
}