#voucherlogo{
   height: 100px !important;
   width: 100px !important;
}

#cardlogo{
   width: 11.5rem;
   height: 22.5rem;
}

.tnccontainer{
   margin: 10px 30px 30px 30px;
   padding: 15px 18px 15px 18px;
   border-radius: 10px;
   border: dashed;
}
